Repository JeahaOh/blariyo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: record design baseline Git verification
  docs/task_list/09/08/설계기준선/git-result.md
  docs/task_list/09/08/설계기준선/task.md
Due: prettier --write

fix: harden M0 collection lifecycle and core isolation
  README.md
  apps/api/src/app.mjs
  apps/api/src/cleanup.mjs
  apps/api/src/collection.mjs
  apps/api/src/index.mjs
  apps/api/src/posts.mjs
  apps/api/src/startup.mjs
  apps/web/app/pages/admin-collect.vue
  apps/web/app/plugins/analytics.client.ts
  apps/web/app/utils/consent.mjs
  docs/development-specs/m0-collection-assist/collection-assist/collection-assist.dev.md
  scripts/test-docker.mjs
  scripts/test-integration.mjs
  tests/browser/collection.test.mjs
  tests/browser/consent.test.mjs
  tests/collection.test.mjs
  tests/constraints.test.mjs
  tests/core-isolation.test.mjs
  tests/policy-consent.test.mjs
Due: eslint --fix, prettier --write

feat(web): refine footer branding and contact links
  apps/web/app/assets/css/main.css
  apps/web/app/components/SiteFooter.vue
  docs/development-specs/m0-core/public-post-browsing/public-post-browsing.dev.md
  docs/planning/03-screen-design.md
  docs/planning/06-copy-contract.md
  tests/browser/footer.test.ts
  tests/helpers/browser-fixture.ts
  worklog/task-list/09/20/local-ui-cicd/TASK.md
  worklog/task-list/09/20/local-ui-cicd/artifacts/footer-brand-spacing/desktop.png
  worklog/task-list/09/20/local-ui-cicd/artifacts/footer-brand-spacing/evidence.json
  worklog/task-list/09/20/local-ui-cicd/artifacts/footer-brand-spacing/mobile.png
  worklog/task-list/09/20/local-ui-cicd/artifacts/footer-brand-spacing/narrow.png
  worklog/task-list/09/20/local-ui-cicd/artifacts/footer-refresh/desktop.png
  worklog/task-list/09/20/local-ui-cicd/artifacts/footer-refresh/evidence.json
  worklog/task-list/09/20/local-ui-cicd/artifacts/footer-refresh/mobile.png
  worklog/task-list/09/20/local-ui-cicd/artifacts/footer-refresh/narrow.png
  worklog/task-list/09/20/local-ui-cicd/artifacts/footer-spacing/desktop.png
  worklog/task-list/09/20/local-ui-cicd/artifacts/footer-spacing/evidence.json
  worklog/task-list/09/20/local-ui-cicd/artifacts/footer-spacing/mobile.png
  worklog/task-list/09/20/local-ui-cicd/artifacts/footer-spacing/narrow.png
Due: eslint --fix, prettier --write

fix(ci): build API before dependent type checks
  .github/workflows/ci.yml
  worklog/task-list/09/20/local-ui-cicd/CI-FIRST-RUN.md
Due: prettier --write

fix(ci): prepare integration test temp directory
  .github/workflows/ci.yml
  worklog/task-list/09/20/local-ui-cicd/CI-FIRST-RUN.md
Due: prettier --write

test(ci): isolate schema restore postgres fixture
  apps/api/test/schema-restore.integration.test.ts
  worklog/task-list/09/20/local-ui-cicd/CI-FIRST-RUN.md
Due: eslint --fix, prettier --write

ci: separate backup restore verification
  .github/workflows/backup-restore.yml
  .github/workflows/ci.yml
  scripts/test-nest-integration.ts
Due: eslint --fix, prettier --write

feat: add collection content API and persistence
  apps/api/migrations/V006__collection_content.down.sql
  apps/api/migrations/V006__collection_content.sql
  apps/api/src/features/collection/collection-content.ts
  apps/api/src/features/collection/collection-promotion.service.ts
  apps/api/src/features/collection/collection.dto.ts
  apps/api/src/features/collection/collection.model.ts
  apps/api/src/features/collection/collector-result.service.ts
  apps/api/src/http/collector.guard.ts
  apps/api/src/persistence/collection-operations.repository.ts
  apps/api/src/persistence/collection.repository.ts
  apps/api/src/persistence/entities.ts
  apps/api/src/persistence/health.repository.ts
  apps/api/test/collection-content.integration.test.ts
  apps/api/test/migrations.integration.test.ts
  apps/api/test/schema-restore.integration.test.ts
  docs/development-specs/m0-collection-assist/collection-assist/collection-assist.dev.md
  docs/development-specs/m0-collection-assist/openapi/m0-collection-assist.yaml
  docs/development-specs/m0-core/public-post-browsing/public-post-browsing.dev.md
  docs/system-design/02-data-model.md
  docs/system-design/03-api-design.md
  packages/contracts/openapi/m0-collection-assist.yaml
  packages/contracts/src/collection-api.d.ts
  packages/contracts/src/schema.mjs
Due: eslint --fix, prettier --write

feat: implement collector source and Discord intake
  apps/collector/.dockerignore
  apps/collector/Dockerfile
  apps/collector/ops/README.md
  apps/collector/ops/compose.yaml
  apps/collector/ops/reference-sites.fixtures.json
  apps/collector/ops/reference-sites.sources.example.json
  apps/collector/ops/ruliweb.sources.example.json
  apps/collector/ops/set-private-acl.ps1
  apps/collector/src/main/java/com/blariyo/collector/config/OperatorSettings.java
  apps/collector/src/main/java/com/blariyo/collector/config/PrivateFiles.java
  apps/collector/src/main/java/com/blariyo/collector/config/Secrets.java
  apps/collector/src/main/java/com/blariyo/collector/discord/DiscordGateway.java
  apps/collector/src/main/java/com/blariyo/collector/execution/CollectionPipeline.java
  apps/collector/src/main/java/com/blariyo/collector/ops/BackupMain.java
  apps/collector/src/main/java/com/blariyo/collector/ops/SubmitUrlMain.java
  apps/collector/src/main/java/com/blariyo/collector/run/CandidateIntake.java
  apps/collector/src/main/java/com/blariyo/collector/source/SourcePolicy.java
  apps/collector/src/main/java/com/blariyo/collector/source/TheqooParser.java
  apps/collector/src/main/java/com/blariyo/collector/spool/EncryptedSpool.java
  apps/collector/src/main/java/com/blariyo/collector/web/LocalController.java
  apps/collector/src/main/java/com/blariyo/collector/web/LocalSecurity.java
  apps/collector/src/test/java/com/blariyo/collector/FixtureApplication.java
  apps/collector/src/test/java/com/blariyo/collector/config/PrivateFilesTests.java
  apps/collector/src/test/java/com/blariyo/collector/source/GenericSourceParserTests.java
  apps/collector/src/test/java/com/blariyo/collector/source/TheqooParserTests.java
Due: prettier --write

feat: render social references in post pages
  apps/web/app/components/SocialPost.vue
  apps/web/app/components/XPost.vue
  apps/web/app/pages/[boardSlug]/posts/[postId].vue
  apps/web/app/utils/social-posts.ts
  apps/web/app/utils/social-widgets.ts
  apps/web/app/utils/x-posts.ts
  apps/web/app/utils/x-widgets.ts
  tests/social-posts.test.ts
  tests/x-posts.test.ts
Due: eslint --fix, prettier --write

feat: add original content scraping tools and source docs
  docs/planning/content-collection/README.md
  docs/planning/content-collection/sources/youtube-community.md
  docs/system-design/07-spring-collector-design.md
  scripts/content/README.md
  scripts/content/audit-source-references.mjs
  scripts/content/complete-originals.mjs
  scripts/content/embedded-json.mjs
  scripts/content/fetch-public.py
  scripts/content/metadata-batch.mjs
  scripts/content/migrations/001_source_capture.sql
  scripts/content/original-import.mjs
  scripts/content/public-fetch.mjs
  scripts/content/publish-development-originals.mjs
  scripts/content/record-reference-failure.mjs
  scripts/content/reference-site-audit.mjs
  scripts/content/reference-sites-config.test.mjs
  scripts/content/replace-existing-preview.mjs
  scripts/content/replace-local-originals.mjs
  scripts/content/scrape-originals.mjs
  scripts/content/start-existing-preview.mjs
  scripts/content/theqoo-parser.mjs
  scripts/content/theqoo-parser.test.mjs
  scripts/content/verify-originals.mjs
  scripts/content/verify-preview-browser.mjs
  scripts/content/verify-social-display.mjs
  scripts/content/verify-x-display.mjs
Due: prettier --write

feat: wire collection administration runtime
  apps/web/app/pages/admin-collect.vue
  apps/web/nuxt.config.ts
  scripts/local/README.md
  scripts/local/seed-policies.mjs
  scripts/local/start-development.mjs
Due: eslint --fix, prettier --write

fix: harden web cache and security operations
  apps/web/server/error-handler.ts
  apps/web/server/plugins/security.ts
  compose.yaml
  deploy/gateway/collect-security-state-server.py
  deploy/gateway/nginx.conf
  deploy/gateway/test-gateway.py
  deploy/gateway/update-cache-policy-server.py
  deploy/postgresql/README.md
  docs/implementation/operations/security-evidence/2026-09-20-deploy-precheck.json
  docs/implementation/operations/security-evidence/2026-09-20-gateway-cache-after.json
  docs/implementation/operations/security-evidence/2026-09-20-origin-static-before.json
  docs/implementation/operations/security-evidence/2026-09-20-public-static-before.json
  docs/implementation/operations/security-evidence/2026-09-20-server-final.json
  docs/implementation/operations/security-evidence/2026-09-20-static-cache.json
  docs/implementation/operations/security-evidence/2026-09-20-static-inventory.json
  docs/implementation/operations/security-evidence/2026-09-20-static-retry-after.json
  docs/implementation/operations/security-protection-status.md
  docs/system-design/05-security-operations.md
  docs/system-design/09-security-cost-protection-plan.md
  scripts/verify-static-cache.py
  tests/http/web-cache.test.ts
Due: eslint --fix, prettier --write

docs: record security protection worklog
  worklog/task-list/09/20/security-cost-protection/TASK.md
  worklog/task-list/09/20/security-cost-protection/artifacts/file-inventory.json
Due: prettier --write

docs: align implementation status and runtime evidence
  README.md
  docs/implementation/m0-completion/evidence.md
  docs/implementation/operations/current-status.md
  docs/planning/03-screen-design.md
  docs/system-design/04-infrastructure-design.md
  docs/system-design/README.md
  package.json
  tests/helpers/browser-fixture.ts
  tests/spring/container.test.ts
  tests/spring/runtime.test.ts
  worklog/task-list/09/20/local-ui-cicd/TODO-CICD-DEPLOY.md
  worklog/task-list/README.md
Due: eslint --fix, prettier --write

fix: verify collector batch db readback
  apps/collector/src/main/java/com/blariyo/collector/run/BatchStore.java
  apps/collector/src/test/java/com/blariyo/collector/run/DirectBatchRunnerReadbackTests.java
Due: none

chore: track collector batch task specs
  .gitignore
  docs/ai/tasks/2026-09-21-collector-batch-acceptance.md
  docs/ai/tasks/2026-09-21-collector-batch-architecture-reset.md
Due: prettier --write

fix: record collector batch migration ledger
  apps/collector/src/main/java/com/blariyo/collector/ops/MigrationMain.java
  apps/collector/src/test/java/com/blariyo/collector/ops/MigrationMainTests.java
Due: none

docs : 진행 현황 점검
  worklog/task-list/09/22/진행현황-전수점검/BACKLOG.md
  worklog/task-list/09/22/진행현황-전수점검/REPORT.md
  worklog/task-list/09/22/진행현황-전수점검/REVIEW.md
  worklog/task-list/09/22/진행현황-전수점검/TASK-01.md
  worklog/task-list/09/22/진행현황-전수점검/TASK-02.md
  worklog/task-list/09/22/진행현황-전수점검/TASK-03.md
  worklog/task-list/09/22/진행현황-전수점검/TASK-04.md
  worklog/task-list/09/22/진행현황-전수점검/TASK.md
  worklog/task-list/09/22/진행현황-전수점검/artifacts/01-plan-baseline.md
  worklog/task-list/09/22/진행현황-전수점검/artifacts/01-plan-items.json
  worklog/task-list/09/22/진행현황-전수점검/artifacts/02-feature-coverage.md
  worklog/task-list/09/22/진행현황-전수점검/artifacts/02-implementation-items.json
  worklog/task-list/09/22/진행현황-전수점검/artifacts/02-implementation.md
  worklog/task-list/09/22/진행현황-전수점검/artifacts/03-operation-items.json
  worklog/task-list/09/22/진행현황-전수점검/artifacts/03-operations.md
  worklog/task-list/09/22/진행현황-전수점검/artifacts/final-validation.json
  worklog/task-list/09/22/진행현황-전수점검/artifacts/progress-counts.json
  worklog/task-list/09/22/진행현황-전수점검/artifacts/public-readback.json
  worklog/task-list/09/22/진행현황-전수점검/artifacts/repository-inventory-and-links.json
  worklog/task-list/09/22/진행현황-전수점검/artifacts/review-contract-baseline.json
  worklog/task-list/09/22/진행현황-전수점검/artifacts/review-public-readback.json
Due: prettier --write

feat: 관리자 수집 검수 화면과 공개 미디어 표시 개선
  apps/web/app/components/CollectImagePreview.vue
  apps/web/app/components/LinkedText.vue
  apps/web/app/components/SiteFooter.vue
  apps/web/app/pages/[boardSlug]/posts/[postId].vue
  apps/web/app/pages/admin-batch.vue
  apps/web/app/pages/admin.vue
  apps/web/app/utils/editor-validation.mjs
  apps/web/app/utils/text-links.mjs
  apps/web/nuxt.config.ts
  apps/web/server/api/v1/[...path].ts
  apps/web/server/routes/media/[...path].get.ts
  apps/web/test/collected-gallery.test.mjs
  apps/web/test/text-links.test.mjs
Due: eslint --fix, prettier --write

chore: 환경별 설정과 DB 권한·로컬 검증 도구 정리
  .env.dev.example
  .env.example
  .env.local.example
  .env.prod.example
  .env.stage.example
  .gitignore
  README.md
  deploy/postgresql/README.md
  deploy/postgresql/apply-privileges.sql
  deploy/postgresql/create-batch-role.sql
  deploy/postgresql/create-roles.py
  deploy/postgresql/install-server.py
  deploy/postgresql/pg_hba.conf
  docs/implementation/operations/environment-configuration.md
  docs/migration/REPORT.md
  package.json
  scripts/local/README.md
  scripts/local/batch-review.mjs
  scripts/local/collector-mime-repair.test.mjs
  scripts/local/environment-config.test.mjs
  scripts/local/local-identity.mjs
  scripts/local/local-identity.test.mjs
  scripts/local/prepare-batch-review.mjs
  scripts/local/probe-sites.mjs
  scripts/local/repair-collected-labels.mjs
  scripts/local/repair-collected-media.mjs
  scripts/local/repair-collected-media.test.mjs
  scripts/local/repair-collector-mime.mjs
  scripts/local/repair-notice-posts.mjs
  scripts/local/run-batch.mjs
  scripts/local/start-development.mjs
  scripts/local/verify-batch-run.mjs
  scripts/local/verify-collected-animations.mjs
  scripts/local/verify-collected-content.mjs
  scripts/local/verify-collector-inventory.mjs
  scripts/local/verify-dry-run.mjs
  scripts/local/verify-queue-intake.mjs
  scripts/test-collector-readback.mjs
  scripts/test-database-roles.ts
Due: eslint --fix, prettier --write

docs: 수집 소유권과 사이트별 모듈 설계 정렬
  docs/planning/content-collection/README.md
  docs/planning/content-collection/reference-site-validation.md
  docs/planning/content-collection/source-collection-policy.md
  docs/system-design/02-data-model.md
  docs/system-design/03-api-design.md
  docs/system-design/07-spring-collector-design.md
  docs/system-design/08-code-structure.md
Due: prettier --write

docs: 수집 검증 결과와 M0 후속 작업 기록
  apps/collector/ops/reports/blocked-http-observations-2026-09-23.json
  apps/collector/ops/reports/collector-inventory-2026-09-23.json
  apps/collector/ops/reports/collector-mime-correction-2026-09-23.md
  apps/collector/ops/reports/dev-21-site-review-2026-09-23.json
  apps/collector/ops/reports/dev-21-site-review-2026-09-23.md
  apps/collector/ops/reports/dev-blocked-readback-2026-09-23.json
  apps/collector/ops/reports/dev-blocked-readback-2026-09-23.md
  apps/collector/ops/reports/local-21-hot-run-20260923-072050.tsv
  apps/collector/ops/reports/local-3000-review-2026-09-23.md
  apps/collector/ops/reports/local-attachment-and-browser-2026-09-23.md
  apps/collector/ops/reports/local-gallery-limits-2026-09-23.json
  apps/collector/ops/reports/local-gallery-limits-2026-09-23.md
  apps/collector/ops/reports/local-role-followup-2026-09-23.json
  apps/collector/ops/reports/local-role-followup-2026-09-23.md
  apps/collector/ops/reports/media-notice-video-policy-2026-09-23.md
  apps/collector/ops/reports/observed-fixtures-2026-09-23.md
  docs/implementation/m0-interim-2026-09-23/README.md
  docs/implementation/m0-interim-2026-09-23/collector-follow-up.md
  docs/implementation/m0-interim-2026-09-23/next-plan.md
  docs/implementation/m0-interim-2026-09-23/requirements.md
  docs/implementation/operations/current-status.md
  worklog/task-list/09/23/batch-고도화/ACCEPTANCE-AUDIT.md
  worklog/task-list/09/23/batch-고도화/BACKLOG.md
  worklog/task-list/09/23/batch-고도화/COMMIT-PLAN.md
  worklog/task-list/09/23/batch-고도화/P2-LIVE.md
  worklog/task-list/09/23/batch-고도화/PROGRESS.md
  worklog/task-list/09/23/batch-고도화/REVIEW-3000.md
Due: prettier --write

docs: 작업 보고서·후속 계획 목차와 커밋 완료 기록 추가
  worklog/README.md
  worklog/task-list/09/23/README.md
  worklog/task-list/09/23/batch-고도화/COMMIT-PLAN.md
Due: prettier --write

feat: 관리자 게시글 흐름 보강과 격리 검증 추가
  apps/api/src/persistence/entities.ts
  apps/api/test/collection-discovery.integration.test.ts
  apps/api/test/collector-lease.integration.test.ts
  apps/api/test/database.integration.test.ts
  apps/api/test/schema-restore.integration.test.ts
  apps/web/app/pages/admin.vue
  docs/development-specs/m0-core/admin-post-management/admin-post-management.dev.md
  docs/development-specs/m0-core/decisions/open-decisions.md
  docs/implementation/m0-interim-2026-09-23/next-plan.md
  docs/implementation/m0-interim-2026-09-23/remaining-process.md
  docs/implementation/operations/deployment-policy.md
  docs/planning/03-screen-design.md
  docs/publishing/admin-core-review.md
  docs/publishing/admin-core/desktop.png
  docs/publishing/admin-core/mobile-editor.png
  docs/publishing/admin-core/mobile-list.png
  scripts/local/README.md
  scripts/local/open-admin.mjs
  tests/admin-render.test.ts
  tests/browser/admin-workflow.test.ts
  tests/browser/core.test.ts
  worklog/task-list/09/23/README.md
  worklog/task-list/09/23/admin-core/COMMIT-MESSAGE.txt
  worklog/task-list/09/23/admin-core/FOLLOW-UP.md
  worklog/task-list/09/23/admin-core/GIT-STATUS.txt
  worklog/task-list/09/23/admin-core/PROGRESS.md
  worklog/task-list/09/23/admin-core/REQUEST.md
  worklog/task-list/09/23/admin-core/RESULTS.md
Due: eslint --fix, prettier --write

feat(web): 관리자 검수 탐색과 불확실 저장 복구 보강
  apps/web/app/components/AdminNavigation.vue
  apps/web/app/pages/admin-batch.vue
  apps/web/app/pages/admin.vue
  apps/web/server/api/admin/features.get.ts
  tests/browser/admin-recovery.test.ts
  tests/browser/admin-workflow.test.ts
  tests/browser/batch-review.test.ts
  tests/helpers/browser-fixture.ts
Due: eslint --fix, prettier --write

test(deploy): Core 후보와 이전 이미지의 DB 호환 검증
  deploy/application/fixtures/release-compatibility.mjs
  deploy/application/prepare-runtime-config.cjs
  deploy/application/test-release-compatibility.py
  deploy/application/test-runtime-config.cjs
Due: none

ci: Java fixture 준비와 Collector 전체 검증 추가
  .github/workflows/ci.yml
  package.json
  scripts/collector-test-support.ts
  scripts/prepare-collector-fixtures.mjs
  scripts/test-collector-readback.mjs
  tests/collector-verification.test.ts
Due: eslint --fix, prettier --write

feat(local): 격리 인수 환경과 Core worker 실행 지원
  scripts/local/core-workers.mjs
  scripts/local/create-admin-sandbox.mjs
  scripts/local/open-admin.mjs
  scripts/local/start-development.mjs
  tests/browser/local-workers.test.ts
  tests/helpers/local-development-fixture.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,vue}
  prettier --write: (any of: *.{js,ts,jsx,tsx,vue}) or (any of: *.{json,yml,yaml,md})
