Repository JeahaOh/blariyo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,vue}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ]
}

2025 04 01 기획 및 설계
  README.md
Due: prettier --write

2025 04 01 BE 환경 구축
  apps/api/app.js
  apps/api/package.json
  apps/api/src/middlewares/errorHandler.js
  apps/api/src/middlewares/logger.js
  apps/api/src/middlewares/loggerMiddleware.js
  apps/api/src/routes/index.js
  apps/api/src/routes/posts.js
Due: eslint --fix, prettier --write

2025 04 15
  .gitignore
  apps/.env.template
  apps/data/mongodb/README.md
  apps/docker-compose.yml
  docs/docker.md
Due: prettier --write

2025 04 16
  apps/data/mysql/README.md
  apps/docker-compose.yml
  apps/init/mysql/01_init.sql
  apps/init/mysql/02_DDL.sql
  apps/init/mysql/my.conf
  docs/docker.md
Due: prettier --write

2025 04 17
  .gitignore
  apps/docker-compose.yml
  apps/init/mysql/01_init.sql
  apps/init/mysql/02_DDL.sql
  apps/init/mysql/config/my.conf
  apps/init/mysql/scripts/init.sql
Due: prettier --write

2025 04 17
  apps/api/jest.config.js
  apps/api/package.json
  apps/api/src/tests/connection-test.js
  apps/api/src/tests/database.test.js
  apps/api/src/tests/setup.js
Due: eslint --fix, prettier --write

2025 04 17
  apps/api/src/config/database.js
  apps/api/src/tests/connection-test.js
  apps/api/src/tests/database.test.js
Due: eslint --fix, prettier --write

2025 04 17
  apps/api/app.js
  apps/api/jest.config.js
  apps/api/package.json
  apps/api/src/app.js
  apps/api/src/controllers/userController.js
  apps/api/src/middlewares/logger.js
  apps/api/src/middlewares/loggerMiddleware.js
  apps/api/src/middlewares/loggingMiddleware.js
  apps/api/src/middlewares/validateMiddleware.js
  apps/api/src/routes/userRoutes.js
  apps/api/src/services/userService.js
  apps/api/src/tests/connection-test.js
  apps/api/src/tests/connection.test.js
  apps/api/src/tests/database.test.js
  apps/api/src/tests/setup.js
  apps/api/src/tests/userService.test.js
  apps/api/src/utils/logger.js
  apps/init/mysql/scripts/init.test.sql
Due: eslint --fix, prettier --write

2025 04 18
  apps/api/docker-compose.test.yml
  apps/api/jest.config.js
  apps/api/package.json
  apps/api/src/tests/connection.test.js
  apps/api/src/tests/database.test.js
  apps/api/src/tests/setup.js
  apps/api/src/tests/userService.test.js
  apps/api/tests/connection.test.js
  apps/api/tests/database.test.js
  apps/api/tests/setup.js
  apps/init/mysql/scripts/init.sql
  apps/init/mysql/scripts/init.test.sql
Due: eslint --fix, prettier --write

2025 04 18
  apps/api/tests/connection.test.js
  apps/api/tests/database.test.js
Due: eslint --fix, prettier --write

2025 04 18
  apps/api/package.json
  apps/api/src/app.js
  apps/api/src/config/swagger.js
  apps/api/src/controllers/userController.js
  apps/api/src/middlewares/loggingMiddleware.js
  apps/api/src/middlewares/validateMiddleware.js
  apps/api/src/routes/userRoutes.js
  apps/api/src/services/userService.js
  apps/init/mysql/scripts/init.sql
Due: eslint --fix, prettier --write

2025 06 14
  apps/api/package.json
  apps/api/src/controllers/authController.js
  apps/api/src/middleware/validation.js
  apps/api/src/middlewares/validateMiddleware.js
  apps/api/src/routes/authRoutes.js
  apps/api/src/routes/userRoutes.js
  apps/api/src/services/authService.js
  apps/api/src/services/userService.js
Due: eslint --fix, prettier --write

2025 06 14 BE 패키지 구조 재설계
  README.md
Due: prettier --write

docs: add blariyo service planning
  docs/legal/README.md
  docs/legal/cookie-settings.md
  docs/legal/privacy-policy.md
  docs/legal/rights-request.md
  docs/legal/terms-of-service.md
  docs/planning/01-service-plan.md
  docs/planning/02-infra-plan.md
  docs/planning/03-screen-design.md
  docs/planning/04-analytics-ad-plan.md
  docs/planning/05-benchmark-spec.md
  docs/planning/06-copy-candidates.md
  docs/publishing/responsive/README.md
  docs/publishing/responsive/app.js
  docs/publishing/responsive/index.html
  docs/publishing/responsive/styles.css
  docs/session-log/2026-08-08-service-planning.md
  docs/session-log/README.md
  docs/wireframes/ads/index.html
  docs/wireframes/archive/app/index.html
  docs/wireframes/archive/desktop/index.html
  docs/wireframes/archive/mobile/index.html
  docs/wireframes/community/index.html
  docs/wireframes/legal/index.html
  docs/wireframes/responsive/index.html
Due: eslint --fix, prettier --write

docs: correct blariyo planning specifications
  docs/docker.md
  docs/legal/README.md
  docs/legal/cookie-settings.md
  docs/legal/privacy-policy.md
  docs/legal/rights-request.md
  docs/legal/terms-of-service.md
  docs/planning/01-service-plan.md
  docs/planning/02-infra-plan.md
  docs/planning/03-screen-design.md
  docs/planning/04-analytics-ad-plan.md
  docs/planning/05-benchmark-spec.md
  docs/planning/06-copy-candidates.md
  docs/publishing/responsive/README.md
  docs/publishing/responsive/app.js
  docs/publishing/responsive/index.html
  docs/publishing/responsive/styles.css
  docs/session-log/2026-08-08-service-planning.md
  docs/session-log/2026-08-11-docs-full-audit-tasklist.md
  docs/session-log/2026-08-12-docs-correction-tasklist.md
  docs/session-log/README.md
  docs/wireframes/ads/index.html
  docs/wireframes/archive/app/index.html
  docs/wireframes/archive/desktop/index.html
  docs/wireframes/archive/mobile/index.html
  docs/wireframes/community/index.html
  docs/wireframes/legal/index.html
  docs/wireframes/responsive/index.html
Due: eslint --fix, prettier --write

docs: align planning with meme board policy
  docs/legal/README.md
  docs/legal/cookie-settings.md
  docs/legal/privacy-policy.md
  docs/legal/rights-request.md
  docs/legal/terms-of-service.md
  docs/planning/01-service-plan.md
  docs/planning/02-infra-plan.md
  docs/planning/03-screen-design.md
  docs/planning/04-analytics-ad-plan.md
  docs/planning/05-benchmark-spec.md
  docs/planning/06-copy-candidates.md
  docs/publishing/responsive/README.md
  docs/publishing/responsive/app.js
  docs/publishing/responsive/index.html
  docs/session-log/2026-08-11-docs-full-audit-tasklist.md
  docs/session-log/2026-08-12-board-policy-correction.md
  docs/session-log/2026-08-12-docs-correction-tasklist.md
  docs/session-log/README.md
  docs/wireframes/ads/index.html
  docs/wireframes/community/index.html
  docs/wireframes/legal/index.html
  docs/wireframes/responsive/index.html
Due: eslint --fix, prettier --write

docs: add final color palette
  docs/planning/07-color-palette.md
  docs/planning/assets/blariyo-color-palette.png
  docs/planning/assets/blariyo-color-palette.svg
Due: prettier --write

docs: refine responsive publishing and product plans
  docs/planning/01-service-plan.md
  docs/planning/02-infra-plan.md
  docs/planning/03-screen-design.md
  docs/planning/04-analytics-ad-plan.md
  docs/planning/05-benchmark-spec.md
  docs/publishing/responsive/README.md
  docs/publishing/responsive/app.js
  docs/publishing/responsive/index.html
  docs/publishing/responsive/styles.css
Due: eslint --fix, prettier --write

docs: align wireframes with responsive prototype
  docs/wireframes/ads/index.html
  docs/wireframes/community/index.html
  docs/wireframes/legal/index.html
  docs/wireframes/responsive/index.html
Due: none

docs: add social login and analytics policies
  docs/legal/README.md
  docs/legal/cookie-settings.md
  docs/legal/privacy-policy.md
  docs/legal/rights-request.md
  docs/legal/terms-of-service.md
Due: prettier --write

docs: refine responsive publishing flow
  docs/legal/README.md
  docs/legal/privacy-policy.md
  docs/legal/rights-request.md
  docs/legal/terms-of-service.md
  docs/planning/01-service-plan.md
  docs/planning/02-infra-plan.md
  docs/planning/03-screen-design.md
  docs/planning/04-analytics-ad-plan.md
  docs/planning/05-benchmark-spec.md
  docs/publishing/responsive/README.md
  docs/publishing/responsive/app.js
  docs/publishing/responsive/index.html
  docs/publishing/responsive/styles.css
  docs/wireframes/legal/index.html
  docs/wireframes/responsive/index.html
Due: eslint --fix, prettier --write

docs: record M0 migration implementation
  README.md
  docs/docker.md
  docs/system-design/02-data-model.md
  docs/system-design/README.md
Due: prettier --write

docs : .
  docs/planning/02-infra-plan.md
  docs/planning/03-screen-design.md
  docs/system-design/01-system-architecture.md
  docs/system-design/02-data-model.md
  docs/system-design/03-api-design.md
  docs/system-design/04-infrastructure-design.md
  docs/system-design/05-security-operations.md
  docs/system-design/README.md
Due: prettier --write

docs: separate work logs from canonical docs
  docs/docker.md
  docs/system-design/README.md
  worklog/README.md
  worklog/session-log/2026-08-08-service-planning.md
  worklog/session-log/2026-08-11-docs-full-audit-tasklist.md
  worklog/session-log/2026-08-12-board-policy-correction.md
  worklog/session-log/2026-08-12-docs-correction-tasklist.md
  worklog/session-log/2026-08-14-planning-system-design-boundary-review.md
  worklog/session-log/2026-08-14-postgresql-transition.md
  worklog/session-log/README.md
  worklog/task-list/08/13/ai-governance/TASK-02.md
  worklog/task-list/08/13/ai-governance/TASK.md
  worklog/task-list/08/13/ai-governance/artifacts/blariyo-ai-governance-adoption-draft-20260813.md
  worklog/task-list/08/13/document-sanitization/TASK.md
  worklog/task-list/08/13/security-hotfix/TASK.md
  worklog/task-list/08/13/security-hotfix/artifacts/IMPLEMENTATION-HANDOFF.md
  worklog/task-list/08/13/security-hotfix/artifacts/security-hotfix.patch
  worklog/task-list/README.md
Due: prettier --write

chore: remove application source for planning-only branch
  README.md
  apps/.env.template
  apps/api/docker-compose.test.yml
  apps/api/jest.config.js
  apps/api/package-lock.json
  apps/api/package.json
  apps/api/src/app.js
  apps/api/src/config/database.js
  apps/api/src/config/swagger.js
  apps/api/src/controllers/authController.js
  apps/api/src/controllers/userController.js
  apps/api/src/middlewares/errorHandler.js
  apps/api/src/middlewares/loggingMiddleware.js
  apps/api/src/middlewares/loginValidator.js
  apps/api/src/middlewares/userMiddleware.js
  apps/api/src/routes/authRoutes.js
  apps/api/src/routes/index.js
  apps/api/src/routes/posts.js
  apps/api/src/routes/userRoutes.js
  apps/api/src/services/authService.js
  apps/api/src/services/userService.js
  apps/api/src/utils/logger.js
  apps/api/src/utils/passwordUtils.js
  apps/api/tests/connection.test.js
  apps/api/tests/database.test.js
  apps/api/tests/setup.js
  apps/data/mongodb/README.md
  apps/data/postgresql/README.md
  apps/docker-compose.yml
  apps/init/postgresql/scripts/init.sql
Due: eslint --fix, prettier --write

docs: 기획·설계 문서와 AI 작업 기준 정비
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  docs/ai/README.md
  docs/ai/skills/blariyo-docs-audit/SKILL.md
  docs/ai/skills/blariyo-task-start/SKILL.md
  docs/docker.md
  docs/legal/README.md
  docs/legal/cookie-settings.md
  docs/legal/privacy-policy.md
  docs/legal/rights-request.md
  docs/legal/terms-of-service.md
  docs/planning/01-service-plan.md
  docs/planning/02-infra-plan.md
  docs/planning/03-screen-design.md
  docs/planning/04-analytics-ad-plan.md
  docs/planning/05-benchmark-spec.md
  docs/publishing/responsive/README.md
  docs/system-design/01-system-architecture.md
  docs/system-design/02-data-model.md
  docs/system-design/03-api-design.md
  docs/system-design/04-infrastructure-design.md
  docs/system-design/05-security-operations.md
  docs/system-design/README.md
Due: prettier --write

docs: 운영 안정성과 정책 시행 설계 보완
  docs/legal/cookie-settings.md
  docs/legal/privacy-policy.md
  docs/planning/04-analytics-ad-plan.md
  docs/system-design/01-system-architecture.md
  docs/system-design/02-data-model.md
  docs/system-design/03-api-design.md
  docs/system-design/04-infrastructure-design.md
  docs/system-design/05-security-operations.md
Due: prettier --write

docs: 문서 정합성 수정과 M0 콘텐츠 수집 설계 반영
  README.md
  docs/ai/README.md
  docs/docker.md
  docs/legal/README.md
  docs/legal/privacy-policy.md
  docs/legal/terms-of-service.md
  docs/planning/01-service-plan.md
  docs/planning/02-infra-plan.md
  docs/planning/03-screen-design.md
  docs/planning/04-analytics-ad-plan.md
  docs/planning/05-benchmark-spec.md
  docs/planning/06-copy-candidates.md
  docs/planning/07-color-palette.md
  docs/system-design/01-system-architecture.md
  docs/system-design/02-data-model.md
  docs/system-design/03-api-design.md
  docs/system-design/04-infrastructure-design.md
  docs/system-design/05-security-operations.md
  docs/system-design/README.md
Due: prettier --write

.
  docs/ai/README.md
  docs/legal/README.md
  docs/legal/cookie-settings.md
  docs/legal/privacy-policy.md
  docs/legal/terms-of-service.md
  docs/planning/01-service-plan.md
  docs/planning/02-infra-plan.md
  docs/planning/03-screen-design.md
  docs/planning/04-analytics-ad-plan.md
  docs/planning/05-benchmark-spec.md
  docs/planning/content-collection/README.md
  docs/planning/content-collection/source-spec-template.md
  docs/publishing/responsive/README.md
  docs/publishing/responsive/app.js
  docs/publishing/responsive/index.html
  docs/system-design/01-system-architecture.md
  docs/system-design/02-data-model.md
  docs/system-design/03-api-design.md
  docs/system-design/04-infrastructure-design.md
  docs/system-design/05-security-operations.md
  docs/system-design/README.md
  docs/wireframes/legal/index.html
Due: eslint --fix, prettier --write

docs: update M0 core decision records
  docs/development-specs/m0-core/decisions/copy-proposals.md
  docs/development-specs/m0-core/decisions/open-decisions.md
  docs/development-specs/m0-core/decisions/recommended-decisions.md
  docs/development-specs/m0-core/decisions/reference-site-copy-research.md
Due: prettier --write

.
  docs/development-specs/m0-core/decisions/legal-contact-benchmark-research.md
  docs/development-specs/m0-core/decisions/open-decisions.md
  docs/development-specs/m0-core/decisions/reference-site-copy-research.md
Due: prettier --write

docs: add M0 implementation and collection assist specs
  docs/development-specs/m0-collection-assist/collection-assist/api/create-candidate-from-url.md
  docs/development-specs/m0-collection-assist/collection-assist/api/promote-candidate-to-draft.md
  docs/development-specs/m0-collection-assist/collection-assist/api/reject-candidate.md
  docs/development-specs/m0-collection-assist/collection-assist/api/retry-candidate.md
  docs/development-specs/m0-collection-assist/collection-assist/collection-assist.dev.md
  docs/development-specs/m0-collection-assist/collection-assist/d01/create-and-review-candidate.md
  docs/development-specs/m0-collection-assist/collection-assist/d01/promote-candidate-to-draft.md
  docs/development-specs/m0-collection-assist/collection-assist/d01/retry-or-reject-candidate.md
  docs/development-specs/m0-collection-assist/collection-assist/d08/collect-candidate-review.md
  docs/development-specs/m0-core/decisions/open-decisions.md
  docs/development-specs/m0-core/decisions/operational-values-checklist.md
  docs/development-specs/m0-core/decisions/검수/task-05-operational-values-checklist.md
  docs/development-specs/m0-core/decisions/검수/task-06-openapi-and-collection-assist-spec.md
  docs/development-specs/m0-core/implementation-backlog.md
  docs/development-specs/m0-core/openapi-draft.md
Due: prettier --write

.
  docs/development-specs/m0-collection-assist/collection-assist/api/collector-internal-api.md
  docs/development-specs/m0-collection-assist/collection-assist/api/create-candidate-from-url.md
  docs/development-specs/m0-collection-assist/collection-assist/api/promote-candidate-to-draft.md
  docs/development-specs/m0-collection-assist/collection-assist/api/retry-candidate.md
  docs/development-specs/m0-collection-assist/collection-assist/collection-assist.dev.md
  docs/development-specs/m0-collection-assist/collection-assist/d01/create-and-review-candidate.md
  docs/development-specs/m0-collection-assist/collection-assist/d01/promote-candidate-to-draft.md
  docs/development-specs/m0-collection-assist/collection-assist/d01/retry-or-reject-candidate.md
  docs/development-specs/m0-collection-assist/collection-assist/d08/collect-candidate-review.md
  docs/development-specs/m0-core/decisions/검수/task-08-discord-url-and-source-risk-policy.md
  docs/development-specs/m0-core/decisions/검수/task-10-m0-core-openapi-source.md
  docs/development-specs/m0-core/openapi-draft.md
  docs/development-specs/m0-core/openapi/m0-core.yaml
  docs/planning/01-service-plan.md
  docs/planning/02-infra-plan.md
  docs/planning/05-benchmark-spec.md
  docs/planning/content-collection/README.md
  docs/system-design/01-system-architecture.md
  docs/system-design/02-data-model.md
  docs/system-design/03-api-design.md
  docs/system-design/04-infrastructure-design.md
  docs/system-design/05-security-operations.md
  docs/system-design/README.md
Due: prettier --write

.
  docs/development-specs/m0-collection-assist/collection-assist/collection-assist.dev.md
  docs/development-specs/m0-collection-assist/collection-assist/d08/collect-candidate-review.md
  docs/development-specs/m0-collection-assist/collection-assist/d08/local-collector.md
Due: prettier --write
