Repository JeahaOh/blariyo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: 운영 인수 체크리스트 정리
  docs/operations/m0-operation-handoff.md
  worklog/2026-10-03/m0-operation-handoff-readable/README.md
Due: prettier --write

feat: main nightly deployment script 추가
  deploy/application/blariyo-nightly-main-deploy.service
  deploy/application/blariyo-nightly-main-deploy.timer
  deploy/application/nightly-main-deploy-server.py
  deploy/application/test-nightly-main-deploy.py
  worklog/2026-10-03/main-deploy-automation/README.md
Due: prettier --write

docs: record nightly deploy push blocker
  worklog/2026-10-03/main-deploy-automation/README.md
Due: prettier --write

chore: add vpn latency test script
  scripts/local/vpn-latency-test.sh
  worklog/2026-10-03/vpn-latency-test-script/README.md
Due: prettier --write

chore: measure codex cli latency in vpn test
  scripts/local/vpn-latency-test.sh
  worklog/2026-10-03/vpn-latency-test-script/README.md
Due: prettier --write

chore: restart unchanged main nightly deploy
  deploy/application/nightly-main-deploy-server.py
  deploy/application/test-nightly-main-deploy.py
  worklog/2026-10-03/main-v010-production-deploy/README.md
Due: prettier --write

docs: require prod tags for deployments
  docs/ai/git-workflow.md
  docs/operations/deployment-policy.md
  docs/operations/deployment-runbook.md
  worklog/2026-10-03/main-v010-production-deploy/README.md
Due: prettier --write

fix: preserve access operator identity schema
  apps/web/server/utils/access.mjs
  deploy/application/README.md
  deploy/application/prepare-runtime-config.cjs
  deploy/application/stage-server.py
  deploy/application/test-runtime-config.cjs
  deploy/application/test-stage.py
  docs/operations/owner-setup-checklist.md
  worklog/2026-10-03/main-v010-production-deploy/README.md
Due: prettier --write

feat: improve admin schedule picker
  apps/web/app/pages/admin.vue
  worklog/2026-10-03/operator-acceptance/README.md
Due: eslint --fix, prettier --write

fix: improve admin acceptance feedback
  apps/web/app/pages/admin.vue
  apps/web/app/utils/upload-errors.mjs
  tests/admin-render.test.ts
  tests/upload-errors.test.ts
  worklog/2026-10-03/operator-acceptance/README.md
Due: eslint --fix, prettier --write

docs: record b2a7435 production deploy
  worklog/2026-10-03/operator-acceptance/README.md
Due: prettier --write

fix: refine admin acceptance ui
  apps/web/app/pages/admin.vue
  tests/admin-render.test.ts
  worklog/2026-10-03/operator-acceptance/README.md
Due: eslint --fix, prettier --write

test: stabilize admin preview retry check
  tests/browser/admin-workflow.test.ts
Due: eslint --fix, prettier --write

fix: refine admin list search ux
  apps/api/src/features/posts/posts.controller.ts
  apps/api/src/features/posts/posts.model.ts
  apps/api/src/features/posts/posts.service.ts
  apps/api/src/persistence/posts.repository.ts
  apps/api/test/admin-http.integration.test.ts
  apps/web/app/pages/admin.vue
  docs/development-specs/m0-core/openapi/m0-core.yaml
  packages/contracts/openapi/m0-core.yaml
  packages/contracts/src/api.d.ts
  packages/contracts/src/schema.mjs
  tests/admin-render.test.ts
  tests/browser/admin-workflow.test.ts
  worklog/2026-10-03/operator-acceptance/README.md
Due: eslint --fix, prettier --write

docs: record body html roadmap
  docs/development-specs/m0-core/admin-post-management/admin-post-management.dev.md
  docs/development-specs/m0-core/public-post-browsing/public-post-browsing.dev.md
  docs/roadmap.md
  docs/status.md
  docs/system-design/02-data-model.md
  worklog/2026-10-04/body-html-roadmap/README.md
Due: prettier --write

docs: record local acceptance verification
  worklog/2026-10-03/operator-acceptance/README.md
Due: prettier --write

docs: record operator local acceptance
  worklog/2026-10-03/operator-acceptance/README.md
Due: prettier --write

docs : 공백추가
  README.md
Due: prettier --write

fix(contracts): register admin search contract evolution
  docs/migration/contract-evolution.json
  worklog/2026-10-04/contract-precommit-check/README.md
Due: prettier --write

feat(hooks): validate staged contracts before commit and merge
  .githooks/check-contracts.mjs
  .githooks/guard.sh
  .githooks/pre-commit
  .githooks/pre-merge-commit
  docs/ai/git-workflow.md
  package.json
  scripts/git-hooks.mjs
  scripts/git-hooks.test.mjs
  worklog/2026-10-04/contract-precommit-check/README.md
Due: prettier --write

test(browser): scope editor fields and exercise empty alt validation
  tests/browser/admin-recovery.test.ts
  tests/browser/batch-review.test.ts
  tests/browser/collection.test.ts
  tests/browser/core.test.ts
  tests/browser/local-workers.test.ts
  worklog/2026-10-04/contract-precommit-check/README.md
Due: eslint --fix, prettier --write

docs(git): prefer fast-forward feature integration
  .githooks/guard.sh
  docs/ai/git-workflow.md
  worklog/2026-10-04/git-fast-forward/README.md
Due: prettier --write

docs: record local release contract integration
  worklog/2026-10-04/local-release-contract-integration/README.md
Due: prettier --write

ci: parallelize checks and reuse verified PR results
  .github/workflows/ci.yml
  package.json
  scripts/ci/test_validation.py
  scripts/ci/validation.py
Due: prettier --write

docs(ci): document PR verification reuse and fallback
  docs/ai/git-workflow.md
  docs/operations/deployment-policy.md
  docs/testing/README.md
  docs/testing/ci.md
  worklog/2026-10-04/ci-fast-validation/README.md
Due: prettier --write

docs: record production deployment and recovery key location
  deploy/backup/README.md
  worklog/2026-10-04/ci-duration-review/README.md
  worklog/2026-10-04/operations-docs-commit/README.md
  worklog/2026-10-04/predeploy-db-review/README.md
  worklog/2026-10-04/production-deploy-4cbfec2/README.md
  worklog/2026-10-04/recovery-key-location/README.md
Due: prettier --write

docs: record 3e3e1d0 production deployment and published tag
  worklog/2026-10-04/production-deploy-3e3e1d0/README.md
Due: prettier --write

docs: record CI speedup and deployment replacement timings
  worklog/2026-10-04/deploy-timing-release-integration/README.md
Due: prettier --write

fix(contracts): remove known source labels from draft titles
  packages/contracts/package.json
  packages/contracts/src/draft-title.d.mts
  packages/contracts/src/draft-title.mjs
  packages/contracts/tsconfig.json
  tests/draft-title.test.ts
Due: eslint --fix, prettier --write

fix(collector): preserve decoded Korean text from Humoruniv
  apps/collector/src/main/java/com/blariyo/collector/source/common/OrderedContentParser.java
  apps/collector/src/main/java/com/blariyo/collector/source/sites/humoruniv/HumorunivDetailParser.java
  apps/collector/src/test/java/com/blariyo/collector/source/sites/humoruniv/HumorunivDetailParserTests.java
Due: none

feat(db): define common codes and direct collection review contracts
  apps/api/migrations/V011__direct_batch_review.down.sql
  apps/api/migrations/V011__direct_batch_review.sql
  apps/api/migrations/V012__source_codes.down.sql
  apps/api/migrations/V012__source_codes.sql
  apps/api/migrations/V013__common_code_groups.down.sql
  apps/api/migrations/V013__common_code_groups.sql
  apps/collector/src/main/resources/db/collector-v011.sql
  apps/collector/src/main/resources/db/collector-v012.sql
  apps/collector/src/main/resources/db/collector-v013.sql
  apps/collector/src/main/resources/db/collector-v014.sql
  apps/collector/src/main/resources/db/collector-v015.sql
  docs/development-specs/m0-collection-assist/openapi/m0-collection-assist.yaml
  docs/migration/contract-evolution.json
  packages/contracts/openapi/m0-collection-assist.yaml
  packages/contracts/src/collection-api.d.ts
  packages/contracts/src/schema.mjs
Due: eslint --fix, prettier --write

feat(collector): coordinate retention, image retries and configurable request pacing
  apps/collector/ops/README.md
  apps/collector/ops/reference-sites.sources.example.json
  apps/collector/ops/sources.schema.json
  apps/collector/src/main/java/com/blariyo/collector/discord/DiscordGateway.java
  apps/collector/src/main/java/com/blariyo/collector/execution/CollectionPipeline.java
  apps/collector/src/main/java/com/blariyo/collector/maintenance/BatchRetentionWorker.java
  apps/collector/src/main/java/com/blariyo/collector/maintenance/ImageFailureCleanup.java
  apps/collector/src/main/java/com/blariyo/collector/maintenance/RetentionRepository.java
  apps/collector/src/main/java/com/blariyo/collector/ops/BatchMain.java
  apps/collector/src/main/java/com/blariyo/collector/ops/MigrationMain.java
  apps/collector/src/main/java/com/blariyo/collector/run/ArticleMediaBudget.java
  apps/collector/src/main/java/com/blariyo/collector/run/BatchMailbox.java
  apps/collector/src/main/java/com/blariyo/collector/run/BatchQueueWorker.java
  apps/collector/src/main/java/com/blariyo/collector/run/BatchSourceRuntime.java
  apps/collector/src/main/java/com/blariyo/collector/run/BatchStore.java
  apps/collector/src/main/java/com/blariyo/collector/run/DirectBatchRunner.java
  apps/collector/src/main/java/com/blariyo/collector/run/DirectRequestBudget.java
  apps/collector/src/main/java/com/blariyo/collector/run/DirectUrlRunner.java
  apps/collector/src/main/java/com/blariyo/collector/run/DiscoveryBatch.java
  apps/collector/src/main/java/com/blariyo/collector/run/SiteProbeMain.java
  apps/collector/src/main/java/com/blariyo/collector/run/SourceRequests.java
  apps/collector/src/main/java/com/blariyo/collector/source/DiscoveryFetcher.java
  apps/collector/src/main/java/com/blariyo/collector/source/SourcePolicy.java
  apps/collector/src/main/java/com/blariyo/collector/source/SourceRequestPolicy.java
  apps/collector/src/test/java/com/blariyo/collector/ops/MigrationMainTests.java
  apps/collector/src/test/java/com/blariyo/collector/run/CollectionDuringRetentionFixture.java
  apps/collector/src/test/java/com/blariyo/collector/run/DirectBatchRunnerReadbackTests.java
  apps/collector/src/test/java/com/blariyo/collector/run/DirectHttpControlReadbackTests.java
  apps/collector/src/test/java/com/blariyo/collector/run/DiscoveryBatchTests.java
  apps/collector/src/test/java/com/blariyo/collector/run/ImageFailureReadbackTests.java
  apps/collector/src/test/java/com/blariyo/collector/run/ImageFailureRoleFixtureMain.java
  apps/collector/src/test/java/com/blariyo/collector/run/ManualDeleteRoleFixtureMain.java
  apps/collector/src/test/java/com/blariyo/collector/run/RetentionFixtureMain.java
  apps/collector/src/test/java/com/blariyo/collector/run/SourceRequestPolicyTests.java
  apps/collector/src/test/java/com/blariyo/collector/run/SourceRequestsTests.java
  apps/collector/src/test/java/com/blariyo/collector/run/TestSourceControls.java
  apps/collector/src/test/java/com/blariyo/collector/source/DiscoveryFetcherTests.java
Due: prettier --write

feat(api): manage common codes and direct batch review actions
  apps/api/src/app.module.ts
  apps/api/src/features/collection/batch-review.controller.ts
  apps/api/src/features/collection/batch-review.module.ts
  apps/api/src/features/collection/batch-review.repository.ts
  apps/api/src/features/collection/batch-review.service.ts
  apps/api/src/features/collection/collector-quota.service.ts
  apps/api/src/features/collection/collector-result.service.ts
  apps/api/src/features/common-codes/common-code.controller.ts
  apps/api/src/features/common-codes/common-code.module.ts
  apps/api/src/features/common-codes/common-code.repository.ts
  apps/api/src/features/common-codes/common-code.service.ts
  apps/api/src/features/health/health.repository.ts
  apps/api/src/features/health/health.service.ts
  apps/api/src/http/admin-permissions.ts
  apps/api/src/persistence/batch-review.repository.ts
  apps/api/src/persistence/collection-operations.repository.ts
  apps/api/src/persistence/common-code.repository.ts
  apps/api/src/persistence/direct-request.repository.ts
  apps/api/src/persistence/health.repository.ts
  apps/api/test/architecture.service.test.ts
  apps/api/test/batch-retention-worker.integration.test.ts
  apps/api/test/batch-retention.integration.test.ts
  apps/api/test/batch-review.integration.test.ts
  apps/api/test/collection-v2-http.integration.test.ts
  apps/api/test/collector-lease.integration.test.ts
  apps/api/test/common-codes.integration.test.ts
  apps/api/test/direct-mailbox.integration.test.ts
  apps/api/test/migrations.integration.test.ts
Due: eslint --fix, prettier --write

feat(web): add shared top loading indicator
  apps/web/app/app.vue
  apps/web/app/components/AppLoadingBar.vue
  apps/web/app/composables/useUiLoading.ts
  apps/web/app/plugins/ui-loading.client.ts
  tests/browser/global-loading.test.ts
Due: eslint --fix, prettier --write

feat(admin): streamline collection review and common code management
  apps/web/app/assets/css/admin.css
  apps/web/app/components/AdminNavigation.vue
  apps/web/app/components/AdminWorkspace.vue
  apps/web/app/components/AppDialog.vue
  apps/web/app/components/DirectCollectionInput.vue
  apps/web/app/components/PolicyViewer.vue
  apps/web/app/composables/useSourceCodes.ts
  apps/web/app/error.vue
  apps/web/app/pages/[boardSlug]/index.vue
  apps/web/app/pages/[boardSlug]/posts/[postId].vue
  apps/web/app/pages/admin-batch.vue
  apps/web/app/pages/admin-collect-sources.vue
  apps/web/app/pages/admin-collect.vue
  apps/web/app/pages/admin-common-codes.vue
  apps/web/app/pages/admin-login.vue
  apps/web/app/pages/admin-source-codes.vue
  apps/web/app/pages/admin.vue
  apps/web/shared/admin-return.ts
  tests/browser/admin-navigation.test.ts
  tests/browser/admin-roles.test.ts
  tests/browser/batch-bulk-reject.test.ts
  tests/browser/batch-failure-delete.test.ts
  tests/browser/batch-navigation.test.ts
  tests/browser/batch-review.test.ts
  tests/browser/common-codes.test.ts
  tests/helpers/browser-fixture.ts
Due: eslint --fix, prettier --write

feat(ops): support collection cleanup and updated database privileges
  deploy/backup/SELECTIVE-RUNBOOK.md
  deploy/backup/selective-profile.mjs
  deploy/operations/collect-retention.md
  deploy/postgresql/apply-privileges.sql
  scripts/local/README.md
  scripts/local/batch-privileges.mjs
  scripts/local/batch-privileges.test.mjs
  scripts/local/batch-review.mjs
  scripts/local/clear-unreviewed.mjs
  scripts/test-database-roles.ts
Due: eslint --fix, prettier --write

docs: align collection policy and administrator workflows
  docs/development-specs/m0-collection-assist/collection-assist/collection-assist.dev.md
  docs/legal/README.md
  docs/operations/environment-configuration.md
  docs/operations/m0-operation-handoff.md
  docs/planning/01-service-plan.md
  docs/planning/03-screen-design.md
  docs/planning/05-benchmark-spec.md
  docs/planning/content-collection/README.md
  docs/planning/content-collection/source-collection-policy.md
  docs/roadmap.md
  docs/status.md
  docs/system-design/01-system-architecture.md
  docs/system-design/02-data-model.md
  docs/system-design/03-api-design.md
  docs/system-design/05-security-operations.md
  docs/system-design/07-spring-collector-design.md
  docs/system-design/08-code-structure.md
  docs/testing/collection-operations-cases.md
Due: prettier --write

docs(worklog): record collection and administrator validation results
  worklog/2026-10-04/admin-detail-history/README.md
  worklog/2026-10-04/collection-retention-independence/README.md
  worklog/2026-10-04/production-acceptance/README.md
  worklog/2026-10-04/production-collection/README.md
  worklog/2026-10-04/source-scraping-quality-task/README.md
  worklog/2026-10-05/all-source-title-audit/README.md
  worklog/2026-10-05/batch-bulk-reject/README.md
  worklog/2026-10-05/batch-button-position/README.md
  worklog/2026-10-05/batch-detail-navigation/README.md
  worklog/2026-10-05/batch-direct-decision/README.md
  worklog/2026-10-05/batch-empty-state/README.md
  worklog/2026-10-05/batch-help-layout/README.md
  worklog/2026-10-05/batch-list-loading/README.md
  worklog/2026-10-05/batch-review-flow/README.md
  worklog/2026-10-05/batch-review-publish/README.md
  worklog/2026-10-05/collection-title-labels/README.md
  worklog/2026-10-05/common-code-groups/README.md
  worklog/2026-10-05/draft-title-source/README.md
  worklog/2026-10-05/global-loading-bar/README.md
  worklog/2026-10-05/image-collection-process-audit/README.md
  worklog/2026-10-05/image-collection-process-audit/process-results.jsonl
  worklog/2026-10-05/image-collection-process-audit/robots-results.json
  worklog/2026-10-05/image-failure-retry-cleanup/README.md
  worklog/2026-10-05/local-server-status/README.md
  worklog/2026-10-05/local-unreviewed-recollection/README.md
  worklog/2026-10-05/source-code-and-batch-navigation-review/README.md
  worklog/2026-10-05/source-common-codes/README.md
  worklog/2026-10-06/batch-failure-delete/README.md
  worklog/2026-10-06/collector-request-policy/README.md
  worklog/2026-10-06/robots-policy-decision-review/README.md
Due: prettier --write

docs: record AI quality tooling review and adoption plan
  worklog/2026-10-05/iron-laws-improvement-review/README.md
  worklog/2026-10-06/ai-slop-tools-review/ADOPTION-PLAN.md
  worklog/2026-10-06/ai-slop-tools-review/README.md
Due: prettier --write

docs(worklog): record grouped commits and verified local reset backup
  worklog/2026-10-06/commit-reset-recollection/README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,vue}
  prettier --write: (any of: *.{js,ts,jsx,tsx,vue}) or (any of: *.{json,yml,yaml,md})
