Repository JeahaOh/blariyo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(api): batch 검수 목록의 수집·검수 상태 필터 지원
  apps/api/src/features/collection/batch-review.controller.ts
  apps/api/src/features/collection/batch-review.repository.ts
  apps/api/src/features/collection/batch-review.service.ts
  apps/api/src/persistence/batch-review.repository.ts
  apps/api/test/batch-review.integration.test.ts
  docs/development-specs/m0-collection-assist/openapi/m0-collection-assist.yaml
  docs/migration/contract-evolution.json
  packages/contracts/openapi/m0-collection-assist.yaml
  packages/contracts/src/collection-api.d.ts
  packages/contracts/src/schema.mjs
Due: eslint --fix, prettier --write

docs: M0 진행 현황과 검증·재개 기록 보관
  apps/collector/ops/README.md
  deploy/application/README.md
  docs/development-specs/m0-collection-assist/collection-assist/collection-assist.dev.md
  docs/development-specs/m0-core/admin-post-management/admin-post-management.dev.md
  docs/implementation/m0-interim-2026-09-23/README.md
  docs/implementation/m0-interim-2026-09-23/collector-follow-up.md
  docs/implementation/m0-interim-2026-09-23/current-progress.md
  docs/implementation/m0-interim-2026-09-23/next-plan.md
  docs/implementation/m0-interim-2026-09-23/operator-acceptance.md
  docs/implementation/m0-interim-2026-09-23/release-candidate.md
  docs/implementation/m0-interim-2026-09-23/remaining-process.md
  docs/implementation/m0-interim-2026-09-23/requirements.md
  docs/implementation/operations/deployment-policy.md
  docs/implementation/operations/deployment-runbook.md
  docs/implementation/testing/README.md
  docs/legal/README.md
  docs/planning/01-service-plan.md
  docs/planning/content-collection/README.md
  docs/system-design/05-security-operations.md
  docs/system-design/07-spring-collector-design.md
  docs/system-design/08-code-structure.md
  scripts/local/README.md
  worklog/task-list/09/23/README.md
  worklog/task-list/09/23/admin-core/FIX-RESULTS.md
  worklog/task-list/09/23/batch-review-ui/RESULTS.md
  worklog/task-list/09/23/collection-contract-alignment/RESULTS.md
  worklog/task-list/09/23/collector-ci/RESULTS.md
  worklog/task-list/09/23/collector-site-modules/RESULTS.md
  worklog/task-list/09/23/progress-checkpoint.md
Due: prettier --write

ops: record production deployment and database promotion
  deploy/operations/start-application.py
  worklog/2026-09-23/release/production-db-promotion.md
  worklog/2026-09-23/release/production-deployment-5c581c2.md
Due: prettier --write

chore(ops): preserve R2 and cache verification helpers
  worklog/task-list/blariyo-r2-credentials.env.example
  worklog/task-list/check-blariyo-app-r2.cjs
  worklog/task-list/check-blariyo-cache.cjs
  worklog/task-list/check-blariyo-public-media.cjs
  worklog/task-list/check-blariyo-r2.cjs
Due: none

chore(db): preserve PostgreSQL and backup entrypoints
  worklog/task-list/install-blariyo-backup.py
  worklog/task-list/install-blariyo-postgres.py
  worklog/task-list/migrate-blariyo-db.py
Due: none

chore(deploy): preserve local application deployment entrypoints
  worklog/task-list/prepare-blariyo-images.py
  worklog/task-list/prepare-blariyo-policy-review.cjs
  worklog/task-list/prepare-blariyo-public-config.cjs
  worklog/task-list/prepare-blariyo-runtime-config.cjs
  worklog/task-list/ssh-blariyo.sh
  worklog/task-list/stage-blariyo-application.py
Due: none

chore(auth): preserve Access and local credential preparation helpers
  worklog/task-list/check-blariyo-access.cjs
  worklog/task-list/prepare-blariyo-db-secrets.cjs
  worklog/task-list/prepare-blariyo-internal-auth.cjs
Due: none

chore(git): ignore local build snapshots and commit recovery artifacts
  .gitignore
Due: none

docs: split implementation backlog into tasks
  docs/README.md
  docs/implementation-tasks/README.md
  docs/implementation-tasks/collection-controls.md
  docs/implementation-tasks/contracts-maintenance.md
  docs/implementation-tasks/core-ux.md
  docs/implementation-tasks/operations-acceptance.md
  docs/roadmap.md
Due: prettier --write

feat(seo): add crawler policies and split sitemaps
  apps/api/src/features/public/public.module.ts
  apps/api/src/features/public/sitemap-cache.ts
  apps/api/src/features/public/sitemap.controller.ts
  apps/api/src/features/public/sitemap.repository.ts
  apps/api/src/features/public/sitemap.service.ts
  apps/api/src/persistence/sitemap.repository.ts
  apps/api/test/sitemap-http.integration.test.ts
  apps/api/test/sitemap.service.test.ts
  apps/web/public/robots.txt
  apps/web/server/middleware/admin.ts
  apps/web/server/middleware/sitemap.ts
  docs/planning/01-service-plan.md
  docs/roadmap.md
  docs/status.md
  docs/system-design/03-api-design.md
  docs/system-design/05-security-operations.md
  tests/sitemap.test.ts
Due: eslint --fix, prettier --write

ci: update actions to Node 24 runtimes
  .github/workflows/ci.yml
  docs/status.md
Due: prettier --write

feat(web): install Google Tag Manager container
  apps/web/app/types/browser.d.ts
  apps/web/app/utils/consent.mjs
  apps/web/server/plugins/security.ts
  docs/legal/README.md
  docs/planning/04-analytics-ad-plan.md
  docs/status.md
  docs/system-design/05-security-operations.md
  tests/browser/consent.test.ts
  tests/consent.test.ts
  tests/helpers/analytics.ts
  tests/helpers/browser-globals.d.ts
  worklog/2026-09-25/google-tag-manager/RESULTS.md
Due: eslint --fix, prettier --write

test(web): account for GTM in browser network assertions
  tests/browser/collection.test.ts
  tests/browser/core.test.ts
  worklog/2026-09-25/google-tag-manager/CI-FIX.md
Due: eslint --fix, prettier --write

docs(analytics): define GA4 v1 events and delivery contract
  docs/README.md
  docs/development-specs/m0-core/analytics-consent/analytics-consent.dev.md
  docs/legal/cookie-settings.md
  docs/legal/privacy-policy.md
  docs/planning/04-analytics-ad-plan.md
  docs/planning/04-analytics-expansion-proposal.md
  docs/roadmap.md
  docs/status.md
  docs/system-design/01-system-architecture.md
  docs/system-design/03-api-design.md
  docs/system-design/05-security-operations.md
Due: prettier --write

ops: record verified GTM production deployment
  deploy/operations/start-application.py
  docs/operations/current-status.md
  docs/operations/deployment-runbook.md
  worklog/2026-09-25/google-tag-manager/PRODUCTION-DEPLOYMENT.md
Due: prettier --write

docs: sync GTM production deployment status
  deploy/application/README.md
  docs/development-specs/m0-core/analytics-consent/analytics-consent.dev.md
  docs/development-specs/requirements-status.md
  docs/legal/README.md
  docs/operations/current-status.md
  docs/operations/deployment-policy.md
  docs/operations/deployment-runbook.md
  docs/operations/security-protection-status.md
  docs/planning/04-analytics-ad-plan.md
  docs/roadmap.md
  docs/status.md
  docs/system-design/05-security-operations.md
Due: prettier --write

docs: add git workflow harness design and plan
  docs/ai/git-workflow.md
  docs/ai/harness-implementation-plan.md
Due: prettier --write

feat(analytics): implement GA4 event collection v1
  apps/api/src/app.module.ts
  apps/api/src/features/public/public.controller.ts
  apps/api/src/features/public/public.dto.ts
  apps/api/src/main.ts
  apps/api/test/public-http.integration.test.ts
  apps/api/test/public.service.test.ts
  apps/web/app/assets/css/main.css
  apps/web/app/components/PostList.vue
  apps/web/app/pages/[boardSlug]/index.vue
  apps/web/app/pages/[boardSlug]/posts/[postId].vue
  apps/web/app/plugins/analytics.client.ts
  apps/web/app/utils/consent.mjs
  docs/development-specs/m0-core/analytics-consent/analytics-consent.dev.md
  docs/development-specs/m0-core/openapi/m0-core.yaml
  docs/legal/cookie-settings.md
  docs/legal/privacy-policy.md
  docs/migration/contract-evolution.json
  docs/planning/04-analytics-ad-plan.md
  docs/planning/04-analytics-expansion-proposal.md
  docs/system-design/01-system-architecture.md
  docs/system-design/03-api-design.md
  docs/testing/local-playwright-docker.md
  package.json
  packages/contracts/openapi/m0-core.yaml
  packages/contracts/src/api.d.ts
  packages/contracts/src/schema.mjs
  scripts/local/playwright-tests.mjs
  tests/browser/analytics-events.test.ts
  tests/browser/consent.test.ts
  tests/consent.test.ts
Due: eslint --fix, prettier --write

docs(worklog): record GA4 analytics v1 verification
  worklog/2026-09-25/analytics-v1/RESULTS.md
Due: prettier --write

feat(admin): improve local access and collection review UX
  apps/web/app/app.vue
  apps/web/app/assets/css/admin.css
  apps/web/app/components/AdminWorkspace.vue
  apps/web/app/pages/admin-batch.vue
  apps/web/app/pages/admin-login.vue
  apps/web/app/pages/admin.vue
  apps/web/nuxt.config.ts
  apps/web/server/api/admin/local-session.delete.ts
  apps/web/server/api/admin/local-session.post.ts
  apps/web/server/api/admin/session.get.ts
  apps/web/server/middleware/admin.ts
  apps/web/server/plugins/production.ts
  apps/web/server/utils/local-admin.ts
  apps/web/shared/admin-return.ts
  docs/development-specs/m0-collection-assist/collection-assist/collection-assist.dev.md
  docs/development-specs/m0-core/admin-post-management/admin-post-management.dev.md
  docs/planning/03-screen-design.md
  docs/system-design/05-security-operations.md
  scripts/local/README.md
  scripts/local/open-admin.mjs
  scripts/local/start-development.mjs
  tests/browser/admin-workflow.test.ts
  tests/browser/batch-review.test.ts
  tests/helpers/browser-fixture.ts
  worklog/2026-09-25/admin-ux-rework/REQUEST.md
  worklog/2026-09-25/admin-ux-rework/TASKS.md
Due: eslint --fix, prettier --write

docs(worklog): record hot collection results
  worklog/2026-09-25/hot-collection/RESULTS.md
Due: prettier --write

chore(governance): register harness policy before CI activation
  .harness/policy.json
  .harness/tasks/HARN-06.json
  .harness/tasks/HARN-07.json
  docs/ai/git-workflow.md
  docs/ai/governance-bootstrap.md
  docs/ai/harness-implementation-plan.md
  worklog/2026-09-25/git-governance/BRANCH-TRANSITION-INVENTORY.md
  worklog/2026-09-25/git-governance/DEVELOP-BOOTSTRAP-DECISION.md
  worklog/2026-09-25/git-governance/LINT-CANDIDATE-REVIEW.md
  worklog/2026-09-25/git-governance/REQUEST.md
  worklog/2026-09-25/git-governance/RESULT.md
Due: prettier --write

test(admin): wait for editor reload before image retry
  tests/browser/admin-workflow.test.ts
Due: eslint --fix, prettier --write

chore(governance): separate reviewed policy and task registration
  .harness/policy.json
  .harness/tasks/HARN-06.json
  .harness/tasks/HARN-07.json
  .harness/tasks/HARN-08.json
  .harness/tasks/HARN-09.json
  docs/ai/git-workflow.md
  docs/ai/harness-implementation-plan.md
  worklog/2026-09-25/git-governance/BRANCH-TRANSITION-INVENTORY.md
  worklog/2026-09-25/git-governance/CI-RECOVERY.md
  worklog/2026-09-25/git-governance/DEVELOP-BOOTSTRAP-DECISION.md
  worklog/2026-09-25/git-governance/LINT-CANDIDATE-REVIEW.md
  worklog/2026-09-25/git-governance/REQUEST.md
  worklog/2026-09-25/git-governance/RESULT.md
  worklog/2026-09-25/git-governance/STASH-RECOVERY.md
Due: prettier --write

style(fixtures): isolate static artifact formatting
  apps/collector/src/test/resources/sites/fixture-provenance.json
  apps/collector/src/test/resources/sites/module-baseline.json
  apps/collector/src/test/resources/sites/observed/arcalive.detail.html.json
  apps/collector/src/test/resources/sites/observed/bobaedream.detail.html.json
  apps/collector/src/test/resources/sites/observed/clien.detail.html.json
  apps/collector/src/test/resources/sites/observed/dmitory.detail.html.json
  apps/collector/src/test/resources/sites/observed/dogdrip.detail.html.json
  apps/collector/src/test/resources/sites/observed/etoland.detail.html.json
  apps/collector/src/test/resources/sites/observed/goodgag.detail.html.json
  apps/collector/src/test/resources/sites/observed/humoruniv.detail.html.json
  apps/collector/src/test/resources/sites/observed/inven.attachments-repeated.html.json
  apps/collector/src/test/resources/sites/observed/inven.detail.html.json
  apps/collector/src/test/resources/sites/observed/mlbpark.detail.html.json
  apps/collector/src/test/resources/sites/observed/natepann.detail.html.json
  apps/collector/src/test/resources/sites/observed/ruliweb.detail.html.json
  apps/collector/src/test/resources/sites/observed/theqoo.detail.html.json
  apps/collector/src/test/resources/sites/observed/yuldo.detail.html.json
  docs/legal/m0-core/cookies.html
  docs/legal/m0-core/draft-2/privacy.html
  docs/legal/m0-core/draft-2/terms.html
  docs/legal/m0-core/privacy.html
  docs/legal/m0-core/rights.html
  docs/legal/m0-core/terms.html
  docs/ui/publishing/responsive/app.js
  docs/ui/publishing/responsive/index.html
  docs/ui/publishing/responsive/styles.css
  docs/ui/wireframes/ads/index.html
  docs/ui/wireframes/archive/app/index.html
  docs/ui/wireframes/archive/desktop/index.html
  docs/ui/wireframes/archive/mobile/index.html
  docs/ui/wireframes/community/index.html
  docs/ui/wireframes/legal/index.html
  docs/ui/wireframes/responsive/index.html
Due: eslint --fix, prettier --write

fix(migrations): isolate SQL formatting and checksum compatibility
  apps/api/migrations/V001__core.sql
  apps/api/migrations/V002__meme.sql
  apps/api/migrations/V003__schedule_alert.sql
  apps/api/migrations/V004__collection_assist.sql
  apps/api/migrations/V005__spring_collection.down.sql
  apps/api/migrations/V005__spring_collection.sql
  apps/api/migrations/V006__collection_content.sql
  apps/api/migrations/V007__collection_discovery.down.sql
  apps/api/migrations/V007__collection_discovery.sql
  apps/api/migrations/V008__batch_review.sql
  apps/api/src/commands/migrate.ts
  apps/api/src/commands/migration-checksum-compatibility.ts
  apps/api/src/commands/migrations.module.ts
  apps/api/src/commands/migrations.repository.ts
  apps/api/src/commands/migrations.service.ts
  apps/api/src/persistence/migrations.repository.ts
  apps/api/test/migrations.integration.test.ts
  apps/collector/src/main/java/com/blariyo/collector/ops/MigrationMain.java
  apps/collector/src/main/resources/db/collector-v001.sql
  apps/collector/src/main/resources/db/collector-v002.sql
  apps/collector/src/main/resources/db/collector-v003.sql
  apps/collector/src/main/resources/db/collector-v004.sql
  apps/collector/src/main/resources/db/collector-v005.sql
  apps/collector/src/main/resources/db/collector-v006.sql
  apps/collector/src/test/java/com/blariyo/collector/ops/MigrationMainTests.java
  deploy/postgresql/apply-privileges.sql
  deploy/postgresql/create-batch-role.sql
  deploy/postgresql/create-roles.sql
  deploy/postgresql/seed-policy-drafts.sql
  docs/migration/contract-evolution.json
  scripts/content/migration-checksum.mjs
  scripts/content/migrations/001_source_capture.sql
  scripts/content/replace-local-originals.mjs
  tests/migration-contracts.test.ts
Due: eslint --fix, prettier --write

fix(ci): preserve gate diagnostics when event context fails
  .github/workflows/ci.yml
  docs/roadmap.md
  docs/status.md
  tests/harness/ci-workflow.test.mjs
Due: prettier --write

docs(governance): record separated draft PR delivery and CI limits
  docs/ai/git-workflow.md
  docs/ai/harness-implementation-plan.md
  docs/roadmap.md
  docs/status.md
  worklog/2026-09-25/git-governance/CI-RECOVERY.md
  worklog/2026-09-25/git-governance/STASH-RECOVERY.md
Due: prettier --write

fix(ci): build API before lint and use available Windows Python
  .github/workflows/ci.yml
  tests/harness/ci-workflow.test.mjs
Due: prettier --write

test(harness): keep release CLI evidence relative to execution time
  tests/harness/release.test.mjs
Due: none

docs(governance): reconcile remote CI evidence and remaining acceptance gates
  docs/ai/harness-implementation-plan.md
  docs/roadmap.md
  docs/status.md
  worklog/2026-09-25/git-governance/CI-RECOVERY.md
Due: prettier --write

fix(migrations): bind legacy checksums to approved replacements
  apps/api/src/commands/migration-checksum-compatibility.ts
  apps/collector/src/main/java/com/blariyo/collector/ops/MigrationMain.java
  apps/collector/src/test/java/com/blariyo/collector/ops/MigrationMainTests.java
  scripts/content/migration-checksum.mjs
  tests/migration-contracts.test.ts
Due: eslint --fix, prettier --write

fix(ci): include validated prerequisites before gate activation
  .github/workflows/ci.yml
  tests/harness/ci-workflow.test.mjs
  tests/harness/release.test.mjs
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,vue}
  prettier --write: (any of: *.{js,ts,jsx,tsx,vue}) or (any of: *.{json,yml,yaml,md})
